
.li_hl {
    color:#ff8000
}

/* 
a {
   color:#569ff7;
} */
/* .minimal-theme.links-int-on .markdown-preview-view .internal-link, .markdown-preview-view .internal-link {
    text-decoration: none;
}
.minimal-theme.links-ext-on .external-link, .external-link {
    text-decoration: none
}

/* preview */

/* .markdown-preview-view h4, .HyperMD-header-4, .cm-s-obsidian .cm-header-4{

  
  font-variant: none;
} */ */
/* 
.markdown-preview-view h3, .HyperMD-header-3, .cm-header-3 {
  letter-spacing: -0em;
  line-height: 1.4;
  font-size: var(--h3);
  color: var(--h3-color);
  font-weight: var(--bold-weight);
} */

.kanban-plugin__item-tags .kanban-plugin__item-tag{
    color: #569ff7;
}
/* .frontmatter-container .tag, a.tag {
  color: #569ff7;

} */


.markdown-preview-view em {

  background-color: #43b983;
  color: #fff;
  font-style:normal;
  /* vertical-align: top; */
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  /* font-weight: bold; */
  letter-spacing: .1em;
}

.frontmatter-container .tag, a.tag {
  background-color: #43b983;
  color: #fff;
  font-style:normal;
  /* vertical-align: top; */
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  height: 18px;
  line-height: 14px;
  /* font-weight: bold; */
  letter-spacing: .1em;

}

a[href^="#htext/red"]{
  display: none;
}

a[href^="#htext/red"] + mark{

  background-color:unset;
  color: #ff4747


}
