
.li_hl {
    color:#ff8000
}


a {
   color:#569ff7;
}
.minimal-theme.links-int-on .markdown-preview-view .internal-link, .markdown-preview-view .internal-link {
    text-decoration: none;
}
.minimal-theme.links-ext-on .external-link, .external-link {
    text-decoration: none
}

/* preview */

.markdown-preview-view h4, .HyperMD-header-4, .cm-s-obsidian .cm-header-4{

  
  font-variant: none;
}

.kanban-plugin__item-tags .kanban-plugin__item-tag{
    color: #569ff7;
}
.frontmatter-container .tag, a.tag {
  color: #569ff7;

}
.fuck {
  color:red
}